<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="style/main.css" rel="stylesheet"></link>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/fonts/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marcellus' rel='stylesheet' type='text/css'>
    <link href="vendors/typehead/typehead.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="background"></div>
    <div id="main">
    </div>

    <div class="sideBar">
      <div class="title">Game Of Thrones</div>
      <div class="seasonSelector">
      </div>
      <div class="searcher">
        <span class="inputSearcher">
          <i class="icon-search"></i>
          <input id="search" placeholder="Search a character"></input>
        </span>
      </div>
      <div class="characterInfo"></div>
      <div class="close"><i class="icon-chevron-right"></i></div>
    </div>
    <div class="sideBarBackground"></div>
    <div class="legend">
      <div class="legendElement son">Son</div>
      <div class="legendElement parent">Parent</div>
      <div class="legendElement liege">Liege</div>
      <div class="legendElement friend">Friend</div>
      <div class="legendElement enemy">Enemy</div>
      <div class="legendElement spouse">Spouse</div>
      <div class="legendElement lover">Lover</div>
      <div class="legendElement courtesan">Courtesan</div>
      <div class="legendElement sibling">Sibling</div>
    </div>

    <div class="legendButton"><i class="icon-bookmark"></i> legend </div>

    <div class="about"> by <a target="_blank" href="http://twitter.com/johnhackworth">@johnhackworth <i class="icon-twitter"></i></a> <a target="_blank" href="https://github.com/johnHackworth/GameOfThrones" class="fork"> fork me on  <i class="icon-github"></i></a></span>
    </div>
    <script id="characterTemplate" type="text/template">
      <% if(typeof picture != "undefined") { %>
      <div class="picture">
        <img src="<%= picture %>"></img>
      </div>
      <% } %>
      <h3 class="characterName">
        <%= name %> <% if(typeof alias != "undefined") {%><%= alias %> <%}%>
        <div class="alignment">
          <% if(house) {%>
            <img src="assets/houses/<%= house %>.png"></img>
          <% }%>
          <% if(organization) {%>
            <img src="assets/houses/<%= organization %>.png"></img>
          <% }%>
        </div>
      </h3>
      <div class="characterBio">
        <%= bio %>
      </div>
    </script>

    <script id="seasonSelector" type="text/template">
      <div class="season">
        <span class="prevSeason"><i class="icon-angle-left"></i> </span> Season <%= season %> <span class="nextSeason"> <i class="icon-angle-right"></i> </span>
      </div>
      <div class="episode">
        <span class="prevEpisode"> <i class="icon-angle-left"></i> </span> Episode <%= episode %> <span class="nextEpisode"> <i class="icon-angle-right"></i> </span>
      </div>
    </script>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="vendors/typehead/typehead.js"></script>
    <script src="app/character.js"></script>
    <script src="app/casting.js"></script>
    <script src="app/board.js"></script>
    <script src="app/main.js"></script>
  </body>
</html>
