body {
  background-color: #FDA;
}F

.charPortrait {
  border: 2px solid #333;
  stroke: #333;
  stroke-width: 8;
}

g {
}

svg {
  width: 80%;
  margin-left: 0%;
  height: 100%;
  display: block;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

svg.centered {
  margin-left: 10%;
}

.charLabel {
  font-size: 10px;
  font-family: arial;
  opacity:0.3;
  text-align: center;
  color: #641;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  -webkit-transition: opacity .3s linear, fill .3s linear;
  -moz-transition: opacity .3s linear, fill .3s linear;
  -o-transition: opacity .3s linear, fill .3s linear;
  -ms-transition: opacity .3s linear, fill .3s linear;
  transition: opacity .3s linear, fill .3s linear;
}

g {
  cursor: pointer;
}

g:hover .charLabel {
  opacity: 1;
}

.charSelected .charLabel {
  opacity: 1;
  font-weight:bold;
}


line, path {
  stroke-width:8px;
  stroke: #FF0;
  stroke-linecap: round;
  fill: transparent;
  opacity: 0.8;
}

path.sibling {
  stroke: #FC5;
}

path.parent {
  stroke: #DA5;
}

path.friend {
  stroke: #55F;
  stroke-width:0.3em;
}

path.son {
  stroke: #595;
}

path.lover {
  stroke: #F55;
}

path.spouse {
  stroke: #F99;
}

path.enemy {
  stroke: #222;
  stroke-width:0.3em;
}

path.liege {
  stroke: #FFD;
  stroke-width:0.3em;
}
path.courtesan {
  stroke: #CCC;
  stroke-width:0.3em;
}


.portrait {

}

svg body {
  background-color: transparent;
}

g .heraldic {
  opacity: 0.3;
  -webkit-transition: opacity .3s linear, fill .3s linear;
  -moz-transition: opacity .3s linear, fill .3s linear;
  -o-transition: opacity .3s linear, fill .3s linear;
  -ms-transition: opacity .3s linear, fill .3s linear;
  transition: opacity .3s linear, fill .3s linear;
}

g:hover .heraldic {
  opacity: 1;
  height: 100%;
  width: 100%;
}

.charSelected .heraldic {
  opacity: 1;
}

.icon.dead {
  opacity: 0.8;
}

.sideBar, .sideBarBackground {
  position: fixed;
  right:0px;
  width:20%;
  height: 100%;
  top: 0;
  color: #FFF;
  z-index: 9;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;

}

.sideBarBackground {
  background-color: #333;
  opacity: 0.7;
  z-index: 8;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;

}

.sideBar.closed, .sideBarBackground.closed {
  right:-20%;
  opacity: 0;
}
.searcher {
  width: 100%;
  text-align: right;
  display: inline-block;
  margin: 1em 0 1em;
}
.inputSearcher {
  padding: 10px;
  background: #FFF;
  border: 1px solid #666;
  border-radius: 3px;
  color: #333;
  margin-left: 20px;
  margin-right: 5%;
}

.inputSearcher input {
  border: 0;
}

.inputSearcher input:focus,
.inputSearcher input:active {
  border: 0;
  outline: none;
}

.characterInfo {
  width: 90%;
  padding: 0 5%;
  font-family: 'Open Sans', sans-serif;
}

.close {
  position: absolute;
  top: 0;
  border: 1px solid #FFF;
  border-radius: 2px;
  padding: 9px 11px;
  font-size: 20px;
  z-index: 14;
  margin: 7px 10px;
  cursor: pointer;
  background-color: transparent;
}

.characterBio {
  height: 40%;
  overflow-y: auto;
}

.picture {
  max-width: 100%;
  max-height: 20%;
}

.picture img {
  width: 100%;
}
